/*
 * Copyright (c) 2015. The content in this file is Protected by the copyrightaws of kenya and owned by Api Craft Technology.
 *  Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 *  This may be subject to prosecution according to the kenyan law.
 */

/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/

/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/
html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

input {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#wrapper {
	width: 100%;
	background: #09192A;
	height: 100%;
}

#page-wrapper {
	padding: 15px 15px;
	background: #E5EBF2;

}

#page-inner {
	width: 100%;
	margin: 10px 20px 10px 0px;
	background-color: transparent;
	padding: 10px;
}

.text-center {
	text-align: center;
}

.no-boder {
	border: 1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 7px;
	margin-bottom: -5px;
}

h2 {
	color: #000;
}

h4 {
	padding-top: 10px;
}

.square-btn-adjust {
	border: 0px solid transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

}

p {
	font-size: 12px;
	line-height: 25px;
	padding-top: 20px;
}

/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/
.page-header {
	padding-bottom: 9px;
	margin: 10px 0 45px;
	border-bottom: 1px solid #C7D1DD;
}

.panel-back {
	background-color: #fff;

}

.panel-default > .panel-heading {
	color: #000;
	background-color: #FFFFFF;
	border-color: #ddd;
	font-weight: bold;
}

.jumbotron, .well {
	background: #fff;
}

.noti-box {
	min-height: 100px;
	padding: 20px;
}

.noti-box .icon-box {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 70px;
	height: 70px;
	line-height: 75px;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}

.text-box p {
	margin: 0 0 3px;
}

.main-text {
	font-size: 25px;
	font-weight: 600;
}

.set-icon {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

}

.bg-color-green {
	background-color: #fff;
	color: #5cb85c;
}

.bg-color-blue {
	background-color: #fff;
	color: #4CB1CF
}

.bg-color-red {
	background-color: #fff;
	color: #F0433D;
}

.bg-color-brown {
	background-color: #fff;
	color: #f0ad4e;
}

.bg-color-wisteria {
	background-color: #fff;
	color: #8e44ad;
}

.bg-color-sunflower {
	background-color: #fff;
	color: #f1c40f;
}

.bg-color-royalpurple {
	background-color: #fff;
	color: #4F1772;
}

.bg-color-mwendwayellow {
	background-color: #fff;
	color: #FEB70B;
}
.bg-color-lavetafebbraio {
	background-color: #fff;
	color: #2F001C;
}
.bg-color-Sun-RipenedBikini{
	background-color: #fff;
	color: #F81DBB;
}
.bg-color-TribalTriumph {
	background-color: #fff;
	color: #47A39D;
}



.back-footer-lavetafebbraio {
	background-color: #2F001C;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-Sun-RipenedBikini {
	background-color: #F81DBB;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-TribalTriumph {
	background-color: #47A39D;
	color: #fff;
	border-top: 0px solid #fff;
}
.back-footer-wisteria {
	background-color: #8e44ad;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-sunflower {
	background-color: #f1c40f;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-royalpurple {
	background-color: #4F1772;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-mwendwayellow {
	background-color:#FEB70B;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-green {
	background-color: #5cb85c;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-red {
	background-color: #F0433D;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-blue {
	background-color: #4CB1CF;
	color: #fff;
	border-top: 0px solid #fff;
}

.back-footer-brown {
	background-color: #f0ad4e;
	color: #fff;
	border-top: 0px solid #fff;
}

.icon-box-right {
	display: block;
	float: right;
	margin: 0 15px 10px 0;
	width: 70px;
	height: 70px;
	line-height: 75px;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}

.main-temp-back {
	background: #8702A8;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}

.main-temp-back .text-temp {
	font-size: 40px;
}

.back-dash {
	padding: 20px;
	font-size: 20px;
	font-weight: 500;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #2EA7EB;
	color: #fff;
}

.back-dash p {
	padding-top: 16px;
	font-size: 13px;
	color: #fff;
	line-height: 25px;
	text-align: justify;
}

.color-bottom-txt {
	color: #000;
	font-size: 16px;
	line-height: 30px;
}

/*CHAT PANEL*/
.chat-panel .panel-body {
	height: 450px;
	overflow-y: scroll;
}

.chat-box {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat-box li {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #808080;
}

.chat-box li.left .chat-body {
	margin-left: 90px;
}

.chat-box li .chat-body p {
	margin: 0;
	color: #8d8888;
}

.chat-img > img {
	margin-left: 20px;
}

footer p {
	font-size: 14px;
}

/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/

.user-image {
	margin: 25px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	max-height: 170px;
	max-width: 170px;
}

.top-navbar {
	margin: 0px;
}

.top-navbar .navbar-brand {
	color: #FEB70B;
	width: 400px;
	text-align: left;
	height: 60px;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Milonga', cursive;
	line-height: 30px;
}

.top-navbar .nav > li {
	position: relative;
	display: inline-block;
}

.top-navbar .nav > li > a {
	position: relative;
	display: block;
	padding: 19px 15px;
	color: #77C0FD;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
	text-decoration: none;
	background-color: #FEB70B;
	color: #fff;
}

.top-navbar .dropdown-menu {
	min-width: 230px;
	border-radius: 0 0 4px 4px;
}

.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus {
	color: #ffffff;
	background-color: #FEB70B; !important;
}

.dropdown-tasks {
	width: 255px;
}

.dropdown-tasks .progress {
	height: 8px;
	margin-bottom: 8px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 0px;
}

.dropdown-tasks > li > a {
	padding: 0px 15px;
}

.dropdown-tasks p {
	font-size: 13px;
	line-height: 21px;
	padding-top: 4px;
}

.active-menu {
	background-color: #FEB70B; !important;
}

.arrow {
	float: right;
}

.fa.arrow:before {
	content: "\f104";
}

.active > a > .fa.arrow:before {
	content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
	border-bottom: none !important;
}

.nav-second-level li a {
	padding-left: 37px;
}

.nav-third-level li a {
	padding-left: 55px;
}

.sidebar-collapse, .sidebar-collapse .nav {
	background: none;
}

.sidebar-collapse .nav {
	padding: 0;
}

.sidebar-collapse .nav > li > a {
	color: #fff;
	background: transparent;
	text-shadow: none;

}

.sidebar-collapse > .nav > li > a {
	padding: 15px 10px;
}

.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

ul.nav.nav-second-level.collapse.in {
	background: #172D44;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

	outline: 0;
}

.navbar-side {
	border: none;
	background-color: #09192A;

}

.top-navbar {
	background: #09192A;
	border-bottom: none;

}

.top-navbar .nav > li > a > i {
	margin-right: 2px;
}

.top-navbar .navbar-brand:hover {
	color: #fff;

}

.dropdown-user li {
	margin: 8px 0;
}

.navbar-default {
	border: 0px solid black;
	background: #09192A;

}

.navbar-header {
	background: #09192A;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #09192A;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #09192A;
}

.nav > li > a > i {
	margin-right: 10px;
}

/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/
.btn-circle {
	width: 50px;
	height: 50px;
	padding: 6px 0;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/

@media (min-width: 768px) {
	#page-wrapper {
		margin: 0 0 0 0px;
		padding: 15px 30px;
		min-height: 768px;

	}

	.navbar-side {
		z-index: 1;
		position: absolute;
		width: 0px;
	}

	.navbar {
		border-radius: 0px;
	}

}

@media (max-width: 0px) {
	.page-header small {
		display: block;
		padding-top: 14px;
		font-size: 19px;
	}
}
@page
{
	size: auto;   /* auto is the initial value */
	margin: 0;  /* this affects the margin in the printer settings */
}

nav {
	background: #09192A;
}
.receiptheader{
	color: #4F1772 !important;
}
.heading {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
}
.receiptcontent{
	font-size: 16px;
	text-align: justify;
}
.table {
	width: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 8px;
	vertical-align: top;
}

.fa-6x {
	font-size: 6em;
}
.fa-7x {
	font-size: 7em;
}
.fa-8x {
	font-size: 8em;
}
.fa-9x {
	font-size: 9em;
}
.fa-10x {
	font-size: 10em;
}
.fa-11x {
	font-size: 11em;
}.fa-12x {
	 font-size: 9em;
 }
.fa-13x {
	font-size: 10em;
}
.fa-14x {
	font-size: 11em;
}
.text{
	color: white;
}
